<h1>{{category.name}}</h1>

<ul>
    {{#each products}}
        <li>
            <img src="/uploads/{{this.image_url}}" alt="rasm" />
            <h3>{{this.title}}</h3>
            <p>Narxi: {{this.price}} so'm</p>
        </li>
    {{/each}}
</ul>
