<header>
  <div class="container">
    <div class="header__inner">
      <div class="box">
        <img
          style="border-radius: 50%;"
          src="/src/views/images/image-1.png"
          alt=""
        />
        <span>Book</span>
        <p>15$</p>
      </div>
    </div>
  </div>

</header>
