<nav>
    <ul>
        <li><a href="/api/v1/home">Bosh sahifa</a></li>
        <li><a href="/api/v1/categories/all">Kategoriyalar</a></li>
        <li><a href="/api/v1/home">Maxsus Kategoriyalar</a></li>
    </ul>
</nav>